# Merging the datasets for 4.6

In [2]:
#Import all Libraries first:
import pandas as pd
import numpy as np
import os

In [5]:
# Creating a folder path
path = r'C:\Users\Lenovo\Desktop\Career Foundry\28-06-2024 Instacart Basket Analysis - Saswata Biswas'

## Importing the prior order dataframe

In [35]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

#### Creating a vars_list for Orders

In [41]:
#vars list is the list of all the columns we want to import
vars_list = ['order_id', 'user_id', 'order_number', 'orders_days_of_week', 'order_hour_of_day', 'days_since_prior_order']

## Importing the latest order dataframe

In [48]:
#importing orders data using this list:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), usecols = vars_list)

### Checking the shape of both the dataframes

In [51]:
df_ords.shape

(3421083, 6)

In [53]:
df_ords_prior.shape

(32434489, 4)

### Checking heads of both the dataframes to look for common column:

In [56]:
df_ords.head()

,order_id,user_id,order_number,orders_days_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [58]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## Merging the dataframes

In [61]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [63]:
df_merged_large.head()

,order_id,user_id,order_number,orders_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [65]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## Exporting the file to the prepared data folder in pkl Format

In [68]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))