# Merging the new files
## first a few steps taken:
### 01. Close all applications not required
### 02. Close all running notebooks
### 03. Only keep this notebook open

In [2]:
#import Libraries as usual:
import pandas as pd
import numpy as np
import os

In [4]:
# Create a File Path
path = r'C:\Users\Lenovo\Desktop\Career Foundry\28-06-2024 Instacart Basket Analysis - Saswata Biswas'

In [6]:
#create a Vars List:
vars_list = ['product_id', 'product_name', 'aisle_id', 'department_id', 'prices']

In [8]:
#import the products file:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'product_checked.csv'), usecols = vars_list)

In [10]:
#import the new orders_products_combined file:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'order_product_combined.pkl'))

## Check data types

In [13]:
df_prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [15]:
df_orders_products_combined.dtypes

order_id                    int32
user_id                     int32
order_number                 int8
orders_days_of_week          int8
order_hour_of_day            int8
days_since_prior_order    float16
product_id                  int32
add_to_cart_order           int16
reordered                    int8
dtype: object

## Merging the 2 files (rest all apps closed)

In [18]:
ords_prods_merge_df = df_orders_products_combined.merge(df_prods, on='product_id', indicator=True)

## Checking the details of the new file

In [21]:
ords_prods_merge_df.head()

,order_id,user_id,order_number,orders_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [23]:
ords_prods_merge_df.dtypes

order_id                     int32
user_id                      int32
order_number                  int8
orders_days_of_week           int8
order_hour_of_day             int8
days_since_prior_order     float16
product_id                   int32
add_to_cart_order            int16
reordered                     int8
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
_merge                    category
dtype: object

In [31]:
ords_prods_merge_df['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## Exporting the merged file

In [36]:
ords_prods_merge_df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))